body {
  font-family: 'Oxygen';
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  position: relative;
  background-color: #e2ecf5;
  background-image: url("http://dl-learner.org/Images/Fotolia_bright_invers_blau_schmal5.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0; }

h4 {
  font-size: 13px; }

.header h1 {
  color: #2a2a2a; }
.header .container-fluid.navbar-canvas {
  background-color: #3B6BB0; }
  .header .container-fluid.navbar-canvas .navigation_bar {
    text-align: center;
    margin-bottom: -3px; }
    .header .container-fluid.navbar-canvas .navigation_bar ul {
      width: 100%;
      list-style: none;
      position: relative;
      display: inline-table;
      z-index: 10;
      margin: 0px;
      padding: 0px; }
      .header .container-fluid.navbar-canvas .navigation_bar ul:after {
        clear: both;
        display: block; }
      .header .container-fluid.navbar-canvas .navigation_bar ul ul {
        display: none;
        background: #3B6BB0;
        padding: 0;
        position: absolute;
        top: 100%;
        width: auto; }
        .header .container-fluid.navbar-canvas .navigation_bar ul ul li {
          font-size: 13px;
          float: none;
          position: relative; }
          .header .container-fluid.navbar-canvas .navigation_bar ul ul li a {
            color: #fff;
            text-align: left; }
      .header .container-fluid.navbar-canvas .navigation_bar ul li {
        font-size: 14px;
        float: left; }
        .header .container-fluid.navbar-canvas .navigation_bar ul li:hover {
          background: #3B6BB0; }
          .header .container-fluid.navbar-canvas .navigation_bar ul li:hover > ul {
            display: block; }
        .header .container-fluid.navbar-canvas .navigation_bar ul li a {
          display: block;
          color: #fff;
          text-decoration: none;
          padding: 5px 10px; }
          .header .container-fluid.navbar-canvas .navigation_bar ul li a:hover {
            background-color: #537CBB; }

.page-content {
  padding-top: 15px; }

.box {
  padding: 5px;
  background-color: #0B479D; }

#modules-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10; }
  #modules-overlay .canvas {
    margin-top: 100px;
    padding: 10px 30px;
    display: flex;
    justify-content: flex-start; }
    #modules-overlay .canvas h3 {
      margin-bottom: 20px; }
    #modules-overlay .canvas .module,
    #modules-overlay .canvas .component {
      background-color: #3B6BB0;
      margin: 10px;
      margin-left: 0px;
      padding: 5px 10px;
      cursor: pointer; }
      #modules-overlay .canvas .module:hover, #modules-overlay .canvas .module.selected,
      #modules-overlay .canvas .component:hover,
      #modules-overlay .canvas .component.selected {
        outline: #0b479D 2px solid; }
    #modules-overlay .canvas .modules {
      margin-right: 50px; }
    #modules-overlay .canvas .modules-canvas,
    #modules-overlay .canvas .components-canvas {
      max-height: 75vh;
      overflow-y: auto; }
  #modules-overlay .close-mark {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer; }

.selected-components-canvas .selected-component {
  padding: 5px;
  background-color: #537CBB; }
  .selected-components-canvas .selected-component .option .option-add {
    color: #4CD486;
    cursor: pointer;
    font-weight: 600; }
  .selected-components-canvas .selected-component + .selected-component {
    margin-top: 5px; }

.bold {
  font-weight: 600; }

.underline {
  text-decoration: underline; }

.margin-top {
  margin-top: 10px; }

.no-margin-top {
  margin-top: 0; }

.no-margin-bottom {
  margin-bottom: 0; }

.inline {
  display: inline-block; }

.df {
  display: flex; }
  .df.jcsb {
    justify-content: space-between; }
  .df.jcsa {
    justify-content: space-around; }
  .df.aic {
    align-items: center; }

input {
  color: #2a2a2a;
  padding: 2px; }

.form-control {
  padding: 3px 6px;
  font-size: 12px;
  line-height: 1.2;
  height: auto;
  width: auto; }

/*# sourceMappingURL=style.css.map */
