@CHARSET "ISO-8859-1";

/*
#config_textarea_div {
	display: inline-block;
	width: 700px;
	margin-left: 20px;
	margin-bottom: 20px;
}*/

#configurationDrop {
    background-color: red;
    z-index: 12;
}
